<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="/movies/new">New Movie</a>
    <a href="/movies">All Movies</a>


  </body>
</html>
